body {
  padding-top: 10px;
}

html, body {
  height: 100%;
}

#wrap {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

#contents {
  padding-bottom: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;

  background: #DDDDDD;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  border-top: 1px solid #CCCCCC;
}

//http://cssload.net
.loading {
	display: block;
	margin: 5% auto;
	width: 60px;
	height: 60px;
	position: relative;
	border: 8px solid rgba(204,204,204,0.72);
	        animation: cssload-loader 2.9s infinite ease;
	     -o-animation: cssload-loader 2.9s infinite ease;
	    -ms-animation: cssload-loader 2.9s infinite ease;
	-webkit-animation: cssload-loader 2.9s infinite ease;
	   -moz-animation: cssload-loader 2.9s infinite ease;
}
.loading:after {
	content: "";
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: rgb(204,204,204);
	        animation: cssload-loader-inner 2.9s infinite ease-in;
	     -o-animation: cssload-loader-inner 2.9s infinite ease-in;
	    -ms-animation: cssload-loader-inner 2.9s infinite ease-in;
	-webkit-animation: cssload-loader-inner 2.9s infinite ease-in;
	   -moz-animation: cssload-loader-inner 2.9s infinite ease-in;
}
@keyframes cssload-loader {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(180deg); }
	50% { transform: rotate(180deg); }
	75% { transform: rotate(360deg); }
	100% { transform: rotate(360deg); }
}
@-o-keyframes cssload-loader {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(180deg); }
	50% { transform: rotate(180deg); }
	75% { transform: rotate(360deg); }
	100% { transform: rotate(360deg); }
}
@-ms-keyframes cssload-loader {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(180deg); }
	50% { transform: rotate(180deg); }
	75% { transform: rotate(360deg); }
	100% { transform: rotate(360deg); }
}
@-webkit-keyframes cssload-loader {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(180deg); }
	50% { transform: rotate(180deg); }
	75% { transform: rotate(360deg); }
	100% { transform: rotate(360deg); }
}
@-moz-keyframes cssload-loader {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(180deg); }
	50% { transform: rotate(180deg); }
	75% { transform: rotate(360deg); }
	100% { transform: rotate(360deg); }
}
@keyframes cssload-loader-inner {
	0% { height: 0%; }
	25% { height: 0%; }
	50% { height: 100%; }
	75% { height: 100%; }
	100% { height: 0%; }
}
@-o-keyframes cssload-loader-inner {
	0% { height: 0%; }
	25% { height: 0%; }
	50% { height: 100%; }
	75% { height: 100%; }
	100% { height: 0%; }
}
@-ms-keyframes cssload-loader-inner {
	0% { height: 0%; }
	25% { height: 0%; }
	50% { height: 100%; }
	75% { height: 100%; }
	100% { height: 0%; }
}
@-webkit-keyframes cssload-loader-inner {
	0% { height: 0%; }
	25% { height: 0%; }
	50% { height: 100%; }
	75% { height: 100%; }
	100% { height: 0%; }
}
@-moz-keyframes cssload-loader-inner {
	0% { height: 0%; }
	25% { height: 0%; }
	50% { height: 100%; }
	75% { height: 100%; }
	100% { height: 0%; }
}

.old {
  background-color: #EEEEEE;
}

.hidden {
  display: none;
}
