!!!
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %link(href="lib/bootstrap.min.css" rel="stylesheet")
    %link(href="css/core.css" rel="stylesheet")
  %body
    %p hello
    
    %script(src="lib/jquery.min.js")
    %script(src="lib/bootstrap.min.js")
    %script(src="js/core.js")
