!!!
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    %title 概要 - 東海高校マイコン班

    %link(href="lib/bootstrap.min.css" rel="stylesheet")
    %link(href="css/core.css" rel="stylesheet")
  %body
    #wrap
      %header.container
        %nav.navbar.navbar-default
          .container-fluid
            .navbar-header
              %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse")
                %span.sr-only Toggle navigation
                %span.icon-bar
              %a.navbar-brand.menu-brand(href="index.html") 東海高校マイコン
            .collapse.navbar-collapse#navbar-collapse
              %ul.nav.navbar-nav
                %li.menu-index.active
                  %a(href="index.html")> ホーム
                    %span.sr-only> (current)
                %li.menu-summary
                  %a(href="summary.html")> 概要
                %li.menu-activity
                  %a(href="activity.html")> 活動内容
                %li.menu-products
                  %a(href="products.html")> 制作物
                %li.menu-links
                  %a(href="links.html")> リンク
      #contents.container
        .main#pjax
          .page-header
            %h1 概要
          .row
            .col-md-4
              .panel.panel-default
                .panel-heading
                  %h2.panel-title マイコン班部員
                .panel-body
                  %p
                    パソコン対人比が1.3くらいﾊｲ
                    %br
                    %s> マイコン班だけど班長じゃなくて部長だし、班員じゃなくて部員と言い張っています。最近は若干賑やかになってます
                    %br
                    ハム班との関わりは一切ない
                    %br
                    1年生しかいない
                %table.table
                  %tr
                    %th 学年
                    %th 名前
                    %th 肩書き
                  %tr
                    %td 1年生
                    %td
                    %td 班長
                  %tr
                    %td 1年生
                    %td
                      %button.btn-link(type="button" data-toggle="modal" data-target="#Person" data-name="emoji") (ﾟ∀ﾟ)
                    %td とにかくうるさいやつ()
                  %tr
                    %td 1年生
                    %td その他片手の指の数程度の人数
                    %td
                  %tr
                    %td(rowspan=12) OB
                    %td cloth
                    %td 数年ぶり(らしい)のハード希望
                  %tr
                    %td ONEC:tag/マイコン班
                    %td
                  %tr
                    %td AVARIS
                    %td 前班長
                  %tr
                    %td
                      %button.btn-link(type="button" data-toggle="modal" data-target="#Person" data-name="sowori") そをり
                    %td 看板娘など
                      %br
                      %small マスコット・モルモット・ドジっ娘・ハーマイオニー
                  %tr
                    %td
                      %button.btn-link(type="button" data-toggle="modal" data-target="#Person" data-name="x") X
                    %td 副々班長･リナ厨
                  %tr
                    %td
                      %button.btn-link(type="button" data-toggle="modal" data-target="#Person" data-name="noname") noname
                    %td 前々班長
                  %tr
                    %td
                      %button.btn-link(type="button" data-toggle="modal" data-target="#Person" data-name="tsutcho") つっちょ
                    %td 前々々班長
                  %tr
                    %td AutoLook
                    %td
                  %tr
                    %td
                      %button.btn-link(type="button" data-toggle="modal" data-target="#Person" data-name="atmonad") atmonad
                    %td
                  %tr
                    %td
                      %button.btn-link(type="button" data-toggle="modal" data-target="#Person" data-name="yappy") yappy
                    %td 前々々々班長
                  %tr
                    %td
                      %button.btn-link(type="button" data-toggle="modal" data-target="#Person" data-name="ProgA") Prog.A
                    %td 前々々々々部長
                  %tr
                    %td
                      (その他多数)
                    %td
                %small 注:HNを持っていない人は人数のみ記載
            #Person.modal.fade
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %button.close(type="button" data-dismiss="modal")
                      %span> &times;
                    %h4.modal-title
                  .modal-body
                  .modal-footer
                    %button.btn.btn-default(type="button" data-dismiss="modal") Close
            .col-md-4
              .panel.panel-default
                .panel-heading
                  %h2.panel-title マイコン班のPC
                .panel-body
                  %p
                    暗い色のものは破棄済み/使用していないPCです
                %ul.list-group
                  %li.list-group-item Einzbern
                  %li.list-group-item
                    %button.btn-link(type="button" data-toggle="modal" data-target="#PC" data-name="harris") Harris
                  %li.list-group-item Tolstoi
                  %li.list-group-item Ptolemaios
                  %li.list-group-item
                    %button.btn-link(type="button" data-toggle="modal" data-target="#PC" data-name="alecthunder") Alecthunder
                  %li.list-group-item.old
                    %button.btn-link(type="button" data-toggle="modal" data-target="#PC" data-name="tiglathPileser") Tiglath-Pileser
                  %li.list-group-item.old
                    %button.btn-link(type="button" data-toggle="modal" data-target="#PC" data-name="rasputin") Rasputin(Rozhdestvenskii)
                  %li.list-group-item.old
                    %button.btn-link(type="button" data-toggle="modal" data-target="#PC" data-name="nebuchadnezzarii") NebuchadnezzarⅡ[ネブカドネザル二世]
                  %li.list-group-item.old
                    %button.btn-link(type="button" data-toggle="modal" data-target="#PC" data-name="andoropov") Andoropov[アンドロポフ]
                  %li.list-group-item.old
                    %button.btn-link(type="button" data-toggle="modal" data-target="#PC" data-name="nebuchadnezzar") Nebuchadnezzar[ネブカドネザル]
                  %li.list-group-item.old
                    %button.btn-link(type="button" data-toggle="modal" data-target="#PC" data-name="khrushchev") Khrushchev[フルシチョフ]
                  %li.list-group-item.old
                    %button.btn-link(type="button" data-toggle="modal" data-target="#PCOld") 過去のPC
                %small 2012/06現在
            #PC.modal.fade
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %button.close(type="button" data-dismiss="modal")
                      %span> &times;
                    %h4.modal-title
                  .modal-body
                  .modal-footer
                    %button.btn.btn-default(type="button" data-dismiss="modal") Close
            #PCOld.modal.fade
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %button.close(type="button" data-dismiss="modal")
                      %span> &times;
                    %h4.modal-title 過去のPC
                  .modal-body
                    .pc-summary
                      .page-header
                        %h2.h3 概要
                        %p
                          3台あり、PC98とDOS/V2台である。詳細不明。その他Nebuchadnezzarになる前のPCで余ったマザーボードが存在し、またCRTモニタが二台放置されている。Khrushchevは分解され、壊れていないHDDはAndoropovへ移設された。<br>Nebuchadnezzarが壊れ、新しいPC(NebuchadnezzarⅡ)が完成したため、使える部品だけを取り出されてあとは屑鉄と化した。これも過去のPCに。
                    .pc-config
                      .page-header
                        %h2.h3 マシン構成
                        %p
                          Nebuchadnezzar以前の2台のPCの概要はほとんど不明。ただ、どちらかにPentiumがはいっていたので、非常に古いのが分かる。分解されたままになっておりほぼゴミ扱いである。謎の落書きが存在する。マイコン班活動場所は化学室にあり、その後部に放置されたままになっているが、処分予定は今のところない。
                  .modal-footer
                    %button.btn.btn-default(type="button" data-dismiss="modal") Close
            .col-md-4
              .panel.panel-default
                .panel-heading
                  %h2.panel-title マイコン班の音
                %ul.list-group
                  %li.list-group-item ビープ音
            .col-md-4
              .panel.panel-default
                .panel-heading
                  %h2.panel-title マイコン班推奨飲料
                %ul.list-group
                  %li.list-group-item ドクターペッパー
                  %li.list-group-item 缶コーヒー
            .col-md-4
              .panel.panel-default
                .panel-heading
                  %h2.panel-title マイコン班推奨アニメ
                %ul.list-group
                  %li.list-group-item Y戯王
                  %li.list-group-item シュタインズ・ゲート
                  %li.list-group-item ローゼンメイデン
                  %li.list-group-item 未来日記
      %footer.footer
        .container
          %p.text-muted
            (C) 東海高校電波科学研究部マイコン班 2005-2015

    %script(src="lib/modernizr.js")
    %script(src="lib/jquery.min.js")
    %script(src="lib/jquery.pjax.js")
    %script(src="lib/bootstrap.min.js")
    %script(src="js/core.js")
    %script(src="js/pc.js")
    %script(src="js/person.js")
