!!!
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    %title 概要 - 東海高校マイコン班

    %link(href="lib/bootstrap.min.css" rel="stylesheet")
    %link(href="css/core.css" rel="stylesheet")
  %body
    #wrap
      %header.container
        %nav.navbar.navbar-default
          .container-fluid
            .navbar-header
              %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse")
                %span.sr-only Toggle navigation
                %span.icon-bar
              %a.navbar-brand.menu-brand(href="index.html") 東海高校マイコン
            .collapse.navbar-collapse#navbar-collapse
              %ul.nav.navbar-nav
                %li.menu-index.active
                  %a(href="index.html")> ホーム
                    %span.sr-only> (current)
                %li.menu-summary
                  %a(href="summary.html")> 概要
                %li.menu-activity
                  %a(href="activity.html")> 活動内容
                %li.menu-downloads
                  %a(href="downloads.html")> ダウンロード
                %li.menu-links
                  %a(href="links.html")> リンク
                -# ドロップダウンリストの例
                  %li.dropdown
                    %a.dropdown-toggle(href="#" data-toggle="dropdown") Dropdown
                      %span.caret>
                    %ul.dropdown-menu
                      %li
                        %a(href="#")> action
                      %li.divider
                      %li
                        %a(href="#")> action
              -# 検索ボックスの例
                %form.navbar-form.navbar-right
                  .form-group
                    %input.form-control(type="text" placeholder="Search")
                  %button.btn.btn-default(type="submit") 検索
      #contents.container
        .main#pjax
          .page-header
            %h1 概要
          .row
            .col-md-4
              .panel.panel-default
                .panel-heading
                  %h2.panel-title マイコン班部員
                .panel-body
                  %p
                    パソコン対人比が1.3くらいﾊｲ
                    ハム班との関わりは一切ない
                    1年生しかいない
                %table.table
                  %tr
                    %th 学年
                    %th 名前
                    %th 肩書き
                  %tr
                    %td 1年生
                    %td 両手の指の数程度の人数
                    %td
                  %tr
                    %td(rowspan=9) OB
                    %td そをり
                    %td 看板娘など
                      %small マスコット・モルモット・ドジっ娘・ハーマイオニー
                  %tr
                    %td X
                    %td 副班長･リナ厨
                  %tr
                    %td noname
                    %td 前班長
                  %tr
                    %td つっちょ
                    %td 前々班長
                  %tr
                    %td AutoLook
                    %td
                  %tr
                    %td atmonad
                    %td
                  %tr
                    %td yappy
                    %td 前々々班長
                  %tr
                    %td Prog.A
                    %td 前々々々部長
                %small 注:HNを持っていない人は人数のみ記載
            .col-md-4
              .panel.panel-default
                .panel-heading
                  %h2.panel-title マイコン班のPC
                .panel-body
                  %p
                    暗い色のものは破棄済み/使用していないPCです
                %ul.list-group
                  %li.list-group-item Einzbern
                  %li.list-group-item
                    %button.btn.btn-link(type="button" data-toggle="modal" data-target="#PCHarris") Harris
                  %li.list-group-item Tolstoi
                  %li.list-group-item Ptolemaios
                  %li.list-group-item Aleckthunder
                  %li.list-group-item.old Tiglath-Pileser
                  %li.list-group-item.old Rasputin(Rozhdestvenskii)
                  %li.list-group-item.old NebuchadnezzarⅡ
                  %li.list-group-item.old Andoropov
                %small 2012/06現在
            #PCHarris.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close(type="button" data-dismiss="modal")
                      %span> &times;
                    %h4.modal-title Modal title
                  .modal-body
                    %p うぇーい
                  .modal-footer
                    %button.btn.btn-default(type="button" data-dismiss="modal") Close
            .col-md-4
              .panel.panel-default
                .panel-heading
                  %h2.panel-title マイコン班の音
                %ul.list-group
                  %li.list-group-item ビープ音
            .col-md-4
              .panel.panel-default
                .panel-heading
                  %h2.panel-title マイコン班推奨飲料
                %ul.list-group
                  %li.list-group-item ドクターペッパー
                  %li.list-group-item 缶コーヒー
            .col-md-4
              .panel.panel-default
                .panel-heading
                  %h2.panel-title マイコン班推奨アニメ
                %ul.list-group
                  %li.list-group-item Y戯王
                  %li.list-group-item シュタインズ・ゲート
                  %li.list-group-item ローゼンメイデン
                  %li.list-group-item 未来日記
      %footer.footer
        .container
          %p.text-muted
            (C) 東海高校電波科学研究部マイコン班 2005-2015

    -# http://wikiwiki.jp/mycom/
    -# https://github.com/defunkt/jquery-pjax
    -# http://utage.headwaters.co.jp/blog/?p=1165

    %script(src="lib/modernizr.js")
    %script(src="lib/jquery.min.js")
    %script(src="lib/jquery.pjax.js")
    %script(src="lib/bootstrap.min.js")
    %script(src="js/core.js")
